<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Mulish', sans-serif;">

    <h1 style="text-align: center;margin-bottom: 4rem;">Welcome to REST API Homepage</h1>

    <div style="margin-left: 20%;" class="container">
        <h3> GET &#8594 / &#8594 Homepage</h3>
        <h3> GET &#8594 /users &#8594 Get All User </h3>
        <h3> GET &#8594 /users/:id &#8594 Get One User </h3>
        <h3> POST &#8594 /create &#8594 Create User </h3>
        <h3> PATCH &#8594 /update/:id &#8594 Update User </h3>
        <h3> DELETE &#8594 /delete/:id &#8594 Delete User </h3>
    </div>
</body>

</html>